body {
  font-family: Verdana;
}

p {
  font-family: Arial;
}

.header-container {
    border-bottom: 5px solid #000000;
    background: #808000;
    height: 7em;
}



.title {
  margin-left: 1%;
  color: white;

}

nav ul li {
  display: inline-block;
  background: #000080;
  padding: 1%;

}

nav ul li a {
    color: white;
     text-decoration: none;
}


@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

  .wrapper {
      width: 1026px; /* 1140px - 10% for margins */
      margin: 0 auto;
  }
}





/* clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
  }
.clearfix:after {
      clear: both;
 }
 .clearfix {
    *zoom: 1;
 }